* {
  box-sizing: border-box;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  padding: 2em;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
}

button {
  width: 5em;
}

span {
  cursor: pointer;
  margin: 0.5em;
}

a {
  margin: 1em;
}

.language {
  display: flex;
  flex-direction: row;
}

.booklist_actions {
  display: flex;
  flex-direction: column;
}

.link {
  color: black;
  &.link--highlighted {
    color: blue;
  }
}

.layout {
  margin-top: 3em;
  display: flex;
}
